* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}

div.container {
  width: 800px;
  margin: 0 auto;
}

textarea#editor {
  font-size: .666em;
  width: 100%;
  min-height: 6em;
}

blockquote, #edit-panel i {
  cursor: pointer;
}

span#quote.expanded span {
  color: darkgray;
}

span#quote.expanded span.selected {
  color: black;
  background-color: #FE0;
}

span#quote.expanded span:hover {
  color: black;
  background-color: #FD0;
}

span#quote.expanded span::selection {
  background-color: #FE7;
}

span#quote.expanded span::-moz-selection {
  /*color: gold;*/
  background-color: #FE7;
}

span#quote.collapsed span.elide-start:after {
  content: " [...";
  display: inline;
}

span#quote.collapsed span.elide-end:before {
  content: "] ";
  display: inline;
}

#edit-panel  {
  width: 50%;
  margin: 0 auto;
}

#edit-panel ul {
  margin: 0;
}

#edit-panel li {
  display: inline-block;
  margin: 0 1em;
}
