* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}

div.container {
  width: 800px;
  margin: 0 auto;
}

textarea#editor {
  font-size: .666em;
  width: 100%;
  min-height: 6em;
}

blockquote:hover {
  cursor: pointer;
}

span#quote span {
  color: darkgray;
}

span#quote span.selected {
  color: black;
  background-color: #FE0;
}

span#quote span:hover {
  color: black;
  background-color: #FD0;
}

span#quote span::selection {
  background-color: #FE7;
}

span#quote span::-moz-selection {
  /*color: gold;*/
  background-color: #FE7;
}
